**DIABETES PREDICTION**

**IMPORTING LIBRARIES**

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

WORKING WITH DATASETS (This Datasets only includes datas for Female)

In [2]:
diabetes_data = pd.read_csv('./diabetes_dataset.csv')

DATA FRAME

In [3]:
diabetes_data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

GETTING STATISTICAL DATAS

In [4]:
diabetes_data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

CHECKING OUTCOMES

In [5]:
diabetes_data['Outcome'].value_counts()
# 0 --> No Diabetes
# 1 --> Diabetes

0    500
1    268
Name: Outcome, dtype: int64

Grouping The Data according to their Labelled Data

In [6]:
diabetes_data.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

Separating the Data and Label

In [7]:
no_label = diabetes_data.drop(columns='Outcome', axis = 1) #This contains Everything except the Outcome column
label = diabetes_data['Outcome'] #This contains only the Outcome column

Standardizing The Data

In [8]:
scaler = StandardScaler()
scaler.fit(no_label)

StandardScaler()

In [9]:
standardized_data = scaler.transform(no_label)

In [10]:
print(standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [11]:
no_label = standardized_data
print(no_label)
print(label)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

SPLITTING INTO TRAINING AND TESTING

In [12]:
'''
Parameters
no_label     --> This is the no_label dataset 
label        --> This is Outcome column
test_size    --> How much percentage for test data
stratify     --> This is kind of the Answer 
random_state --> This is how much random it will be
'''
no_label_train, no_label_test, label_train, label_test = train_test_split(no_label, label, test_size = 0.2, stratify = label, random_state = 2)

TRAIN!!!

In [13]:
classifier = svm.SVC(kernel='linear')

In [14]:
classifier.fit(no_label_train, label_train)

SVC(kernel='linear')

Accuracy Score on Train Data

In [15]:
no_label_train_prediction = classifier.predict(no_label_train)
training_data_accuracy = accuracy_score(no_label_train_prediction, label_train)
print(training_data_accuracy)

0.7866449511400652

Accuracy Score on Test Data

In [16]:
no_label_test_prediction = classifier.predict(no_label_test)
test_data_accuracy = accuracy_score(no_label_test_prediction, label_test)
print(test_data_accuracy)

0.7727272727272727

Prediction System

In [17]:
input_data = (1,85,66,29,0,26.6,0.351,31)
input_data_as_numpy_array = np.asarray(input_data)
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)
#Make the input_data standardized data
standard_data = scaler.transform(input_data_reshaped)

prediction = classifier.predict(standard_data)

if prediction[0] == 0:
  print("The Person is Not Diabetic")
else:
  print("The Person is Diabetic")

The Person is Not Diabetic